@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styling */
@font-face {
  font-family: "Quincy Cf";
  src: url("/fonts/Quincy-Cf/Fontspring-DEMO-quincycf-bold.otf") format("otf"),
    url("/fonts/Quincy-Cf/Fontspring-DEMO-quincycf-bold.otf") format("otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Quincy Cf";
  src: url("/fonts/Quincy-Cf/Fontspring-DEMO-quincycf-light.otf") format("otf"),
    url("/fonts/Quincy-Cf/Fontspring-DEMO-quincycf-light.otf") format("otf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Quincy Cf";
  src: url("/fonts/Quincy-Cf/Fontspring-DEMO-quincycf-regular.otf")
      format("otf"),
    url("/fonts/Quincy-Cf/Fontspring-DEMO-quincycf-regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Quincy Cf";
  src: url("/fonts/Quincy-Cf/Fontspring-DEMO-quincycf-regularitalic.otf")
      format("otf"),
    url("/fonts/Quincy-Cf/Fontspring-DEMO-quincycf-regularitalic.otf")
      format("otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/Work_Sans/WorkSans-Bold.ttf") format("ttf"),
    url("/fonts/Work_Sans/WorkSans-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/Work_Sans/WorkSans-Light.ttf") format("ttf"),
    url("/fonts/Work_Sans/WorkSans-Light.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/Work_Sans/WorkSans-Regular.ttf") format("ttf"),
    url("/fonts/Work_Sans/WorkSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf")
      format("ttf"),
    url("/fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding-inline: 2rem !important;
  overflow: hidden !important;
}

.row {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-sm-6 {
  width: 100%;
}

.navbar-links ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

.navbar-links li {
  width: 100%;
  text-align: center;
}

.navbar-links li a {
  width: 100%;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #969696;
}

.navbar-links li a::after {
  content: "";
  opacity: 0;
  transition: opacity .5s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.navbar-links li:hover > a::after {
  width: .5rem;
  background-color: #969696;
  height: .5rem;
  border-radius: 999px;
  /* position: relative; */
  position: absolute;
  opacity: 1;
  margin-left: .5rem;
  margin-top: .5rem;
  /* display: flex;
  margin-left: 47%;
  opacity: 1; */
  /* margin-right: 47%; */
}

.navbar-links li a:active {
  color: #434343;
}

section {
  margin-top: 4rem;
  width: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .container {
    padding-inline: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .row {
    flex-direction: row !important;
    padding: 0 !important;
    flex-wrap: wrap;
  }

  .col-sm-6 {
    width: calc(50% - (16px / 2));
  }
}

/* Navbar styling */
.navbar-mobile {
  font-family: "Playfair Display", serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  z-index: 1000;
}

.nav-display {
  height: 5.5rem;
  /* background-color: rgba(255, 255, 255, 0.4); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 15px;
}

.navbar-lg {
  display: none;
}

.nav-display h1 {
  /* font-size: 1.1rem; */
  font-size: 16px;
  color: #000;
  margin-left: 1rem;
}

.nav-toggler {
  display: inline-block;
  width: 2rem;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.nav-toggler input {
  display: none !important;
}

.nav-label {
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.nav-toggler-icon {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
}

.nav-toggler-icon::after,
.nav-toggler-icon::before {
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 2px;
  position: absolute;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 5px;
}

.nav-toggler-icon::after {
  bottom: 12px;
}

.nav-toggler-icon::before {
  top: 12px;
}

.navbar-input:checked + .nav-label .nav-toggler-icon {
  background-color: transparent;
}

.navbar-input:checked + .nav-label .nav-toggler-icon::after {
  transform: rotate(45deg);
  top: 0;
}

.navbar-input:checked + .nav-label .nav-toggler-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.navbar-extend {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  padding-inline: 15px;
  padding-block: 25px;
  transform: translateX(-50rem);
  opacity: 0;
  transition: transform 0.5s ease-in;
  transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.show {
  transform: translateX(0);
  opacity: 1;
}

.navbar-extend .navbar-links {
  width: 100%;
  padding-top: 2rem;
}

.nav-label-extend {
  cursor: pointer;
  user-select: none;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.nav-toggler-icon-extend {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: relative;
  border-radius: 5px;
}

.nav-toggler-icon-extend::after,
.nav-toggler-icon-extend::before {
  content: "";
  display: block;
  background-color: #000;
  width: 100%;
  height: 2px;
  position: absolute;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 5px;
}

.nav-toggler-icon-extend::after {
  bottom: 12px;
}

.nav-toggler-icon-extend::before {
  top: 12px;
}

.navbar-input-extend:checked + .nav-label-extend .nav-toggler-icon-extend {
  background-color: transparent;
}

.navbar-input-extend:checked
  + .nav-label-extend
  .nav-toggler-icon-extend::after {
  transform: rotate(45deg);
  top: 0;
}

.navbar-input-extend:checked
  + .nav-label-extend
  .nav-toggler-icon-extend::before {
  transform: rotate(-45deg);
  top: 0;
}

@media screen and (min-width: 1024px) {
  .navbar-mobile {
    display: none;
  }

  .navbar-lg {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    font-family: "Playfair Display", serif;
    display: block;
    width: 100%;
    background-color: #000;
  }

  .nav-display {
    padding-inline: 60px;
  }

  .nav-display .navbar-links ul {
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
  }

  .navbar-links li a {
    color: #fff;
    font-family: "Playfair Display", serif;
  }

  .navbar-links li:hover > a::after {
    color: #fff;
  }
}

/* Hero Section Styling */
.hero {
  margin-top: 0 !important;
}
.hero-img {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 90vh !important;
}

.hero-img-1 {
  background-image: url("/images/hero-img-1.jpeg");
}

.hero-img-2 {
  background-image: url("/images/hero-img-2.jpeg");
}

.hero-img-3 {
  background-image: url("/images/hero-img-3.jpeg");
}

.hero-img-4 {
  background-image: url("/images/hero-img-4.jpg");
}

.hero-img-5 {
  background-image: url("/images/hero-img-5.jpeg");
}

/* About */
.about .container {
  width: 100%;
  display: grid;
  gap: 10px;
}

.about-content-1 h1 {
  /* font-family: "Qunicy Cf", serif; */
  font-family: "Raleway", sans-serif;
  font-size: 30.8px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-content-1 p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.about-content-2 {
  font-family: "Work Sans", sans-serif;
}

.about-image {
  margin-bottom: 40px;
}

.about-content-2 .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 11px 40px;
  font-family: "Work Sans", sans-serif;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid #5e5e5e;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.about-content-2 p {
  font-family: "Work Sans", sans-serif;
}

#about-1,
#about-3 {
  transform: translateX(-70vw);
  opacity: 0;
  transition: all 0.5s ease-in;
}

#about-2 {
  transform: translateX(70vw);
  opacity: 0;
  transition: all 0.5s ease-in;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr; /* Single column */
  }
}

@media (min-width: 768px) {
  .about .container {
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    grid-template-rows: auto auto; /* Two rows */
  }

  .about /* Positioning the divs */
  .container > div:nth-child(1) {
    grid-column: 1; /* First column */
    grid-row: 1; /* First row */
    padding-top: 2rem;
    padding-right: 3rem;
  }

  .about .container > div:nth-child(2) {
    grid-column: 2; /* Second column */
    grid-row: 1 / span 2; /* Span both rows */
  }

  .about .container > div:nth-child(3) {
    grid-column: 1; /* First column */
    grid-row: 2; /* Second row */
    padding-right: 3rem;
  }

  .about-content-1 h1 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .about-content-1 p {
    margin-bottom: 0;
  }

  .about-image {
    margin-bottom: 0;
    display: flex;
    align-items: stretch;
    justify-content: right;
    text-align: right;
  }

  .about-image img {
    height: 90vh;
    width: 100;
  }

  #about-1,
  #about-3 {
    transform: translateX(-30vw);
  }

  #about-2 {
    transform: translateX(30vw);
  }
}

@media (min-width: 1024px) {
  .about .container {
    grid-template-columns: 1fr 1fr 1fr; /* Two equal-width columns */
  }

  .about /* Positioning the divs */
  .container > div:nth-child(1) {
    grid-column: 1 / span 2; /* First column */
  }

  .about .container > div:nth-child(2) {
    grid-column: 3; /* Second column */
  }

  #about-2 {
    transform: translateX(20vw);
  }

  .about .container > div:nth-child(3) {
    grid-column: 1 / span 2; /* First column */
  }
}

/* Quote */
.quote .container {
  width: 100%;
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  /* gap: 1.2rem; */
}

.quote h6 {
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin-bottom: 30px;
  transform: translateX(70vw);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.quote h2 {
  font-family: "Qunicy Cf", serif;
  font-size: 30.8px;
  transform: translateX(-70vw);
  opacity: 0;
  transition: all 0.5s ease-in;
}

@media screen and (min-width: 768px) {
  .quote .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .quote h2 {
    width: 60%;
    padding-right: 10px;
    transform: translateX(-30vw);
  }

  .quote h6 {
    width: 40%;
    text-align: right;
    transform: translateX(30vw);
  }
}

@media screen and (min-width: 1024px) {
  .quote h2 {
    padding-right: 150px;
  }
}

/* Photos */
.row a {
  text-decoration: none;
}

.row a:hover {
  cursor: pointer;
}

.photo {
  width: 100%;
  height: 85vw;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo-1 {
  background-image: url(/images/photo-1.jpg);
}

.photo-2 {
  background-image: url(/images/photo-2.jpg);
}

.photo-3 {
  background-image: url(/images/photo-3.jpg);
}

.photo-4 {
  background-image: url(/images/photo-4.jpg);
}

.photo-5 {
  background-image: url(/images/photo-5.jpg);
}

.photo-6 {
  background-image: url(/images/photo-6.jpg);
}

.photo-7 {
  background-image: url(/images/photo-7.jpg);
}

.photo-8 {
  background-image: url(/images/photo-8.jpg);
}

.photo-9 {
  background-image: url(/images/photo-9.jpg);
}

.photos-description {
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.photos-description h4 {
  font-family: "Quincy Cf", serif;
}

.photos-description p {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
}

.photos .row .col-lg-12 {
  transform: translateX(-70vw);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.photos .row .col-sm-6:nth-child(1) {
  transform: translateX(-35vw);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.photos .row .col-sm-6:nth-child(2) {
  transform: translateX(35vw);
  opacity: 0;
  transition: all 0.5s ease-in;
}

@media screen and (min-width: 724px) {
  .photo-5 {
    background-position: 0 -10rem;
  }

  .photo-6 {
    background-position: 0 -14rem;
  }

  .photo-8 {
    background-position: 0 -20rem;
  }
}

@media screen and (min-width: 1024px) {
  .photo .row {
    margin-bottom: 30px;
    /* gap: 10px; */
  }

  .photo {
    height: 85vh;
  }

  .photo-1,
  .photo-4,
  .photo-7 {
    background-position: 0 -20rem;
  }

  .photo-5 {
    background-position: center;
  }

  .photo-6,
  .photo-8 {
    background-position: 0 -15rem;
  }

  .photos .row .col-lg-12 {
    transform: translateX(-30vw);
  }

  .photos .row .col-sm-6:nth-child(1) {
    transform: translateX(-30vw);
  }

  .photos .row .col-sm-6:nth-child(2) {
    transform: translateX(30vw);
  }
}

/* Check-out */
.check-out .row {
  align-items: stretch;
}
.check-out .col-sm-6 {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
  gap: 30px;
}

.check-out .col-sm-6 div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* gap: 8px; */
}

.check-out-link {
  cursor: pointer;
  text-decoration: none;
  transform: translateY(15vh);
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.check-out-link h3 {
  font-family: "Quincy Cf", serif;
  font-size: 27px;
  margin-bottom: 15px;
}

.check-out-link h6 {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.check-out-images {
  display: none;
}

@media screen and (min-width: 768px) {
  .check-out .row {
    flex-direction: row !important;
    padding: 0 !important;
  }

  .check-out .col-sm-6:nth-child(1) {
    padding-block: 7rem;
  }

  .check-out .col-sm-6 {
    width: 50%;
  }

  .check-out-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-30vw);
    opacity: 0;
    transition: all 0.5s ease-in;
  }

  .check-out-link.fade-in {
    opacity: 1 !important;
    transform: translateX(0) !important;
  }

  .check-out-link h3 {
    font-size: 33;
    margin-bottom: 10px;
  }

  .check-out-images {
    display: block;
  }

  .check-out-img {
    height: 30vw;
    transform: translateX(30vw);
    opacity: 0;
    transition: all 0.5s ease-in;
  }

  .check-out-img-1 {
    background-image: url(/images/check-out-img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .check-out-img-2 {
    background-image: url(/images/check-out-img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -10rem;
  }

  .check-out-img-3 {
    background-image: url(/images/check-out-img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -2rem;
  }
}

@media screen and (min-width: 1024px) {
  .check-out-images {
    display: block;
  }

  .check-out-img {
    width: 100%;
    opacity: 0;
    height: 0;
    transition: all 0.5s ease-in;
  }

  .check-out-img-1 {
    background-image: url(/images/check-out-img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .check-out-img-2 {
    background-image: url(/images/check-out-img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -14rem;
  }

  .check-out-img-3 {
    background-image: url(/images/check-out-img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -5rem;
  }

  .show-img {
    height: 40vw;
    opacity: 1;
  }

  .active-link {
    color: #434343;
  }
}

/* Connect */
.connect-bg {
  width: 100%;
  /* height: 95vh; */
  background-image: url(/images/connect-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.connect-bg .overlay {
  height: 95vh;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1x);
  z-index: 0;
}

.connect-content {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 4rem 2rem;
  z-index: 10;
}

.connect-content h1 {
  font-family: "Quincy Cf", serif;
  font-size: 50px;
  font-weight: 500;
  transform: translateY(20vh);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.connect-content h5 {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transform: translateY(20vh);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.connect-content .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem 2rem;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 25px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  transform: translateY(20vh);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.connect-content .btn:hover {
  background-color: #fff;
}

.connect-content .btn a {
  text-decoration: none;
  color: #fff;
}

.connect-content .btn:hover a {
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .connect-content {
    height: 70vh;
  }

  .connect-bg .overlay {
    height: 70vh;
  }
}

@media screen and (min-width: 1024px) {
  .connect-content {
    height: 100vh;
  }

  .connect-bg .overlay {
    height: 100%;
  }
}

/* Highlight */
.highlight-container {
  width: 100%;
  padding: 0 !important;
  height: 200vw;
  overflow: hidden;
}
.highlight-container a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.highlight-container div {
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.highlight-container div:nth-child(2),
.highlight-container div:nth-child(3) {
  height: 0;
  transform: translateY(20vh);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.highlight-container div:nth-child(4) {
  transform: translateX(70vw);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.highlight-container div:nth-child(1) {
  transform: translateX(-70vw);
  opacity: 0;
  transition: all 0.5s ease-in;
}

.highlight-1 {
  background-image: url(/images/highlight-1.jpg);
}

.highlight-2 {
  background-image: url(/images/highlight-2.jpg);
}

.highlight-3 {
  background-image: url(/images/highlight-3.jpg);
}
.highlight-4 {
  background-image: url(/images/highlight-4.jpg);
  background-position: 0 -5rem;
}

.highlight-container div:hover {
  background-size: 120% !important;
}

.highlight-container h4 {
  display: flex;
  position: relative;
  top: -117vw;
  left: 12vw;
  /* padding: 20px 40px; */
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Quincy Cf", serif;
  font-weight: 400;
  /* width: 332px; */
  width: 70vw;
  height: 125.73px;
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-color: #000;
}

@media screen and (min-width: 768px) {
  .highlight-container h4 {
    top: -108vw;
    height: 130px;
    width: 60vw;
    left: 20vw;
  }
}

@media screen and (min-width: 1024px) {
  .highlight-container {
    height: 70vh;
  }
  .highlight-container h4 {
    top: -50vh;
    left: 35vw;
    width: 30vw;
    height: 150px;
  }
  .highlight-container a {
    flex-direction: row;
    height: 100%;
  }

  .highlight-container div {
    height: 100%;
    /* width: 25%; */
    flex-grow: 1;
  }

  .highlight-container div:nth-child(2),
  .highlight-container div:nth-child(3) {
    height: 100%;
    transform: translateY(20vh);
    opacity: 0;
    transition: all 0.5s ease-in;
  }

  .highlight-container div:nth-child(1) {
    transform: translateX(-15vw);
    opacity: 0;
    transition: all 0.5s ease-in;
  }

  .highlight-container div:nth-child(4) {
    transform: translateX(-15vw);
    opacity: 1;
    transition: all 0.5s ease-in;
  }

  .highlight-1 {
    background-position: 0 0;
  }

  .highlight-4 {
    background-position: 0 0;
  }
}

/* Global Highlight component styles */
.highlight {
  /* background-color: rgba(0, 0, 0, 0.4); */
  background-color: #000;
}

/* Footer */
footer .container {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem !important;
  /* margin-top: 4rem; */
}

footer .sub-footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

footer .footer-links {
  width: 100%;
}

.footer-links ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0;
}

.footer-links li {
  width: 100%;
  text-align: center;
}

.footer-links li a {
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #a7a6a6;
}

.footer-links li a:hover {
  color: #8b8f97;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .footer-links li a:active {
  color: #434343;
} */

.sub-footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #434343;
}

.sub-footer .icons a:hover {
  color: #9ca3af;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.copyright {
  font-family: "Work Sans", sans-serif;
  font-weight: normal;
  text-align: center;
  color: #969696;
}

.go-up {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #969696;
}

.go-up:hover {
  color: #434343;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  footer .container {
    padding-bottom: 4rem !important;
    margin-top: 4rem;
  }

  footer .footer-links ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    padding-inline: 1rem;
  }

  .sub-footer {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-rows: 1 !important;
    gap: 0 !important;
    padding-inline: 4rem;
  }

  .copyright {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }

  .icons {
    grid-column: 2;
    grid-row: 1;
  }

  .go-up {
    grid-column: 3;
    grid-row: 1;
    justify-content: right;
  }
}

/* Changes link color based on current page */
.active {
  color: #434343 !important;
}
.active-ls {
  color: #9ca3af !important;
}

/* Applies a fade-in effect by setting opacity to 1 and resetting transform properties */
.fade-in {
  opacity: 1 !important;
  transform: translateX(0) !important;
  transform: translateY(0) !important;
}

/* Blur other image frames keeping the current hovered frame visible */
.blurFrame {
  filter: blur(3px);
}

/* Applies a zoom effect to objects */
.zoomEffect {
  scale: 90%;
  opacity: 1;
  transition: all .5s ease-in;
}

/* Component wrapper defining top margin due to navbar position */
.wrapper {
    margin-top: 5.5rem;
}